<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Sitecore.Foudation.Serialization" description="Sitecore Foundation Serialization Description">
					<targetDataStore physicalRootPath="C:\Users\robson.barbosa\source\repos\Sitecore.MyDemo\Sitecore.MyDemo\Serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" />
					<predicate>
						<include name="Sitecore.Foundation.Serialization.Templates.Project"				database="master" path="/sitecore/templates/Project" />
						<include name="Sitecore.Foundation.Serialization.Layout.Layouts.Project"		database="master" path="/sitecore/layout/Layouts/Project" />
						<include name="Sitecore.Foundation.Serialization.Layout.Renderings.Project"		database="master" path="/sitecore/layout/Renderings/Project" />
						<include name="Sitecore.Foundation.Serialization.Layout.Placeholder.Project"	database="master" path="/sitecore/layout/Placeholder Settings/Project" />
						<include name="Sitecore.Foundation.Serialization.Content.Home"					database="master" path="/sitecore/content/Home" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>